html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    background: rgba(0, 0, 0, 0.85);
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
}

button {
    outline: none;
    border: none;
}

button:focus,
input:focus {
    outline: transparent;
}

body {
    font-family: 'Montserrat-Medium', sans-serif;
    @include f500;
    font-size: 18px;
    line-height: 20px;
    color: #fff !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}