@import '_vars';
@import '_global';
@import '_fonts';
// start header
.header {
    padding-bottom: 44px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

.header__logo {
    position: relative;
    &_img {
        display: block;
        margin-bottom: 10px;
    }
    &_text {
        position: absolute;
        left: -18px;
    }
}

.header__menu_list li {
    display: inline-block;
}

.header__menu_list li+li {
    margin-left: 25px;
}

.header__call {
    position: relative;
    &_phone {
        display: block;
    }
    &_text {
        margin-right: 0;
        position: absolute;
        right: 0;
        bottom: -18px;
        color: $ora;
    }
}

// end header
// start hero
.hero {
    padding-bottom: 96px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    div {
        width: 640px;
    }
}

.hero__title {
    @include f700;
    font-size: 60px;
    line-height: 70px;
    max-width: 541px;
    margin-bottom: 73px;
}

.hero__subtitle {
    font-size: 22px;
    line-height: 27px;
    @include f400;
    max-width: 321px;
    margin-bottom: 40px;
}

.hero__link {
    background: #1C1D1E;
    border: 3px solid #FF7A00;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 14px 34px;
}

.hero__slider {
    position: relative;
    &::after {
        content: '';
        border: 10px solid #fff;
        width: 681px;
        height: 520px;
        position: absolute;
        top: -40px;
        right: -172px;
        z-index: -1;
    }
}

.hero__item {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slick-dots {
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    .slick-active {
        background-color: $ora;
    }
}

.slick-dots li {
    display: inline-block;
    padding: 2px;
    border-radius: 50%;
    background-color: #fff;
    width: 12px;
    height: 12px;
}

.slick-dots li+li {
    margin-left: 3px;
}

.slick-dots li button {
    background-color: transparent;
    font-size: 0;
}

.slick-arrow {
    position: absolute;
    z-index: 5;
    top: 39%;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.arrow-next {
    right: 15px;
    top: 0;
    bottom: 0;
}

.arrow-prev {
    left: 32px;
    top: 0;
    bottom: 0;
}

// end hero
@import '_media';